# These owners will be the default owners for everything in the repo.

/app/                          @minhthongars
/presentation/                 @minhthongars
/domain/                       @minhthongars
/data/                         @minhthongars
/test/                         @minhthongars
/utilities/                    @minhthongars